$font-stack: "Helvetica Neue", -apple-system, Roboto, sans-serif, serif;
$primary-color: #0000FF;
$primary-font-size: 16px;
$page-padding: 40px;

body {
  padding: $page-padding;
  font-family: $font-stack;
  font-size: $primary-font-size;
  color: $primary-color;
  background-color: #fff;
  font-weight: 800;
}

.logo {
  color: transparent;
  width: 210px;
  height: 60px;
  padding: 0;
  margin: 0;
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  cursor: default;
}

.gnb {
  a {
    text-decoration: none;
    background-color: #ffff00;
    &:visited {
      color: $primary-color;
    }
  }
  ul {
    padding: 0;
    li {
      padding: 0;
      line-height: 2em;
      list-style: none;
    }
  }
}